body {   
    background-color: rgb(6, 4, 39);
    font-family: 'Courier New', Courier, monospace;
    color: azure;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
}
.row {
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
}
.col-9 {
}
.col-12 {
    text-align: center;
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_size {
}

.title_photo {
    text-align: left;
}
.photo1 {
    background: url(../image/photo1.jpeg) no-repeat center center;
    background-size: 100%;
    width: 807px;
    height: 807px;
}
.nav_logo {
    background: url(../image/photo2.png) no-repeat center center;
    background-size: 100%;
    width: 367px;
    height: 189px;
}

.button_js {
    text-align: center;
}
#myButton {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: rgb(163, 12, 12);
    color: aliceblue;
    font-weight: bold;
}
#demo img {
    width: 25%;
}

#form {
    line-height: 45px;
    margin-bottom: 10px;
}
#head { 
    line-height: 45px;
    width: 1500px;
}
#head1 {
    line-height: 45px;
    width: 1500px;
}
.col-15 {
    text-align: center;

}